/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}
/*fonts*/

/*layout*/
html {
	background-image:url('../images/wonder_woman_background.jpg');
	background-size: auto 668px;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 20px;
	opacity: 0.9;

}
/*elements*/
h1 {
	font-family: sans-serif;
	font-size: 40px;
	text-align:center;
	color: #360000;
}

label {
margin-left: 0.5em;
cursor: pointer;
}

#question_wrapper {
	width: 400px;
	height: 400px;
	margin: 0 700px 500px;
	font-family: sans-serif;
	color: black;
	font-size: 25px;
	padding-top: 200px;

}
#answer_holder {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
	line-height: 35px;
}
#button_holder {
	margin-right: 500px;
}
#submit {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
}
#retry_button{
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	display: none;
}
#bottom {
	text-align: center;
	whites-space:nowrap;
}
#score_holder {
	width: 75%;
	display: inline-block;
	margin-right: 200px;
}
#question_score {
	display: inline-block;
}
.score_icon {
	display: none;
	height: 175px;
	margin-bottom: 20px;
}
#score_icon0 {
	display: inline-block;
}
#fact_holder {
	display: inline-block;
	font-family: 'CoffeeHouse';
	font-size: 30px;
	text-align:center;
	color: #360000;
	width: 450px;
	vertical-align:top;
	margin-left: 30px;
	margin-top: 70px;
}
#final {
	font-size: 30px;
	line-spacing: 35px;
}
